<% include ./partials/header %>

<div id="blogContainerToScroll" class="ui raised very padded text container segment">
	<div id='headerText' class="ui huge header"><span id="typedText">RESTful Blog App...</span></div>
		<div id= 'blogSegment' class="ui divided items">
			<%blogs.forEach(function (blog) {%>
			<div class='IndividualBlog'>
				<div class = 'image'>
				<a id='blogTitle' class='header' href='blogs/<%=blog._id%>'><%=blog.title%></a>
				<img class="ui medium rounded image" src=<%=blog.image%>>
				</div>
				<div class='content'>
				<div class='meta'>
				<span><%=blog.created.toDateString()%></span>
				</div>
				<div class='description'>
				<p> <%-blog.body.substring(0,100) + ' ...'%> </p>
				</div>
				<div class='extra'>
				<a class='ui floated basic button violet' href='blogs/<%=blog._id%>'>Read more <i class = 'right chevron icon'> </i></a> 
				</div>
				</div>
			</div>
			<%})%>
			

		</div>
	</div>
</div>


<script type="text/javascript" src = '/animate.js' > </script>
<% include ./partials/footer %>